.red_hours{
    color: red;
    background-color: #fff;
}
.green_hours{
    color: green;
    background-color: #fff;
}
.form_flex{
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
    justify-content: center;
    margin-top: 15px;
    align-items: center;
}
.link_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.date_form{
    display: flex;
    justify-content: center;
}
.date_input{
    margin-right: 8px;
}
.date_link {
    margin-left: 10px;
    background-color: rgb(226, 226, 226);
    color: #000;
}